@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
.verify-container
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to top, #3300ff77, #3300ff70), url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;  
    background-color: #1a1a1a;
}

.main
{
    width: 20vw;
    text-align: center;
    text-wrap: balance;
    background-color: #fff;
    padding: 2rem;
    border-radius: 16px;
    text-transform: uppercase;
}

.verify-container form
{
    width: 20vw;
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.verify-container form input
{
    width: 17vw;
    height: 3rem;
    padding: 0 37px;
    color: #787486;
    font-size: 1vw;
    background-color: #F8F4F4;
    outline: none;
    border:none;
    caret-color: #5030E5;
    margin: 0;
    border-radius: 5px;
}

.verify-container form button
{
    height: 3rem;
    width: 17vw;
    background-color: #5030E5;
    border: none;
    padding-block: 10px;
    width: 20rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
}